[user]
  name = Sam Balinghasay
  email = samuel.balinghasay@gmail.com
[color]
  ui = auto
[color "grep"]
  filename = white
  match = blue
[color "diff"]
  meta = white
[apply]
  whitespace = fix
[push]
  default = current
[branch "master"]
  mergeoptions = --ff-only
